# Analysis OPS

## init (size: 100 x 100)

In [1]:
from analysis.ops_latency import OpsAnalyzer

df_list = OpsAnalyzer(counts=2000, size=512).process()

2020-04-06 18:28:24:ops_latency:<INFO> --------------------MyModel1--------------------
2020-04-06 18:28:39:ops_latency:<INFO> [torch.Size([1, 1, 512, 512]), torch.Size([1, 1, 512, 512]), torch.Size([1, 1, 512, 512])]
2020-04-06 18:28:39:ops_latency:<INFO> --------------------MyModel2--------------------
2020-04-06 18:28:47:ops_latency:<INFO> [torch.Size([1, 1, 512, 512]), torch.Size([1, 1, 512, 512]), torch.Size([1, 1, 512, 512]), torch.Size([1, 1, 512, 512]), torch.Size([1, 1, 512, 512])]
2020-04-06 18:28:47:ops_latency:<INFO> --------------------MyModel3--------------------
2020-04-06 18:28:54:ops_latency:<INFO> [torch.Size([1, 1, 512, 512]), torch.Size([1, 1, 512, 512]), torch.Size([1, 1, 512, 512])]

### origin

In [2]:
df_list[0].describe()

          3x3 conv     5x5 conv     7x7 conv
count  2000.000000  2000.000000  2000.000000
mean    506.718443   647.657442   969.683082
std     105.147873    80.480684   104.109280
min     441.381000   596.993000   887.821000
25%     489.127750   613.880000   946.080750
50%     497.276000   621.414500   951.346000
75%     502.892000   659.766750   957.354500
max    1698.817000  2236.880000  2397.141000

In [3]:
df_list[1].describe()

         3x3 conv1    3x3 conv2    3x3 conv3    3x3 conv4    3x3 conv5
count  2000.000000  2000.000000  2000.000000  2000.000000  2000.000000
mean    487.180943   487.508791   501.510666   510.949684   516.427005
std     116.213746    35.857325    29.450749    75.669196   107.701244
min     451.189000   447.642000   448.805000   447.522000   449.626000
25%     457.551000   455.961250   496.033750   497.602000   497.894500
50%     462.245500   495.713000   500.401000   501.279000   501.438500
75%     499.041500   502.276000   505.611000   506.403000   507.285000
max    1936.094000   825.865000   706.590000  1748.360000  1834.573000

In [4]:
df_list[2].describe()

          3x3 conv     5x5 conv     7x7 conv
count  2000.000000  2000.000000  2000.000000
mean    511.055382   677.006802   956.676067
std     123.733931    79.655219    60.257716
min     449.737000   609.557000   900.665000
25%     497.013250   660.403000   912.512250
50%     503.066500   663.839000   931.337500
75%     508.719500   669.382500   974.536500
max    2024.159000  2239.715000  1257.757000

In [17]:
df_list[3].describe()

         3x3 conv1    3x3 conv2    3x3 conv3    3x3 conv4    3x3 conv5
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean   7410.145666  7839.653750  7364.767564  7397.600156  7942.440269
std     256.837180   383.557682   159.375829   150.207008   420.239011
min    6920.260000  6740.882000  6846.601000  6930.901000  6978.380000
25%    7306.137750  7874.900750  7285.090500  7323.816750  7429.290000
50%    7373.355000  7968.387000  7350.231000  7380.483000  8155.099000
75%    7442.520000  8035.143000  7415.977500  7444.619250  8230.326000
max    9467.303000  9978.307000  8772.233000  8621.218000  9135.959000

In [18]:
df_list[4].describe()

,3x3 conv1,3x3 conv2,3x3 conv3,3x3 conv4,3x3 conv5,3x3 conv6
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,6088.083885,6701.011766,6707.071622,5989.096522,5737.233220,5937.975779
std,313.972628,250.709704,273.065441,304.181971,282.774252,308.431500
min,5394.854000,6080.937000,6157.031000,5328.158000,5043.551000,5179.758000
25%,5895.525250,6544.787500,6541.841500,5796.499000,5546.456750,5740.014000
50%,6059.306500,6676.120500,6670.680000,5960.134500,5715.609000,5904.560000
75%,6226.630250,6818.395500,6826.793250,6130.583500,5898.704000,6101.293750
max,8360.747000,8311.594000,8802.258000,7970.772000,7939.803000,8194.353000

### remove values more than 90%

In [7]:
from utils.outlier import cut_outlier
import functools

cut_list = list(map(functools.partial(cut_outlier, max_border=0.90), df_list))

In [8]:
cut_list[0].describe()

          3x3 conv     5x5 conv     7x7 conv
count  1800.000000  1800.000000  1800.000000
mean    487.197031   629.955812   949.342918
std      20.658070    21.804536     9.756397
min     441.381000   596.993000   887.821000
25%     484.687750   613.281500   945.519000
50%     496.139000   618.965000   950.414000
75%     500.940500   653.913250   955.313250
max     512.325000   679.730000   965.898000

In [9]:
cut_list[1].describe()

         3x3 conv1    3x3 conv2    3x3 conv3    3x3 conv4    3x3 conv5
count  1799.000000  1800.000000  1800.000000  1800.000000  1800.000000
mean    470.141748   479.871108   495.116283   500.594192   501.524005
std      18.230137    22.425889    16.193329     7.898970     5.874126
min     451.189000   447.642000   448.805000   447.522000   449.626000
25%     457.231000   455.237000   495.549750   497.196000   497.533500
50%     460.818000   493.589000   499.555000   500.592000   500.743000
75%     477.328500   500.134250   503.615250   504.452250   504.852500
max     511.353000   511.011000   514.749000   516.011000   518.135000

In [10]:
cut_list[2].describe()

          3x3 conv     5x5 conv     7x7 conv
count  1800.000000  1800.000000  1800.000000
mean    493.610539   662.985116   940.757553
std      20.666681     9.515667    36.233384
min     449.737000   609.557000   900.665000
25%     490.926250   659.962750   911.736000
50%     502.325000   663.048000   922.005500
75%     506.338000   667.181000   962.810250
max     521.832000   683.697000  1058.513000

In [23]:
cut_list[3].describe()

         3x3 conv1    3x3 conv2    3x3 conv3    3x3 conv4    3x3 conv5
count   900.000000   900.000000   900.000000   900.000000   900.000000
mean   7353.773571  7789.630319  7330.308763  7364.748884  7887.597189
std      86.379981   354.495580    84.186614    82.341095   401.452895
min    6920.260000  6740.882000  6846.601000  6930.901000  6978.380000
25%    7299.262500  7851.694750  7275.875750  7316.049500  7408.995250
50%    7360.109500  7958.769000  7335.439000  7368.264500  8133.799000
75%    7414.823000  8015.842000  7393.414500  7424.178750  8210.236250
max    7508.951000  8092.411000  7482.962000  7512.437000  8293.962000

In [24]:
cut_list[4].describe()

,3x3 conv1,3x3 conv2,3x3 conv3,3x3 conv4,3x3 conv5,3x3 conv6
count,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,6017.394677,6644.503257,6644.825692,5921.096008,5676.101746,5872.343050
std,198.929741,169.136780,173.582118,203.827188,206.604875,213.234345
min,5394.854000,6080.937000,6157.031000,5328.158000,5043.551000,5179.758000
25%,5880.261500,6530.490000,6523.018250,5779.684750,5532.726750,5720.585500
50%,6021.666000,6647.992000,6647.640500,5926.345500,5679.055000,5878.932000
75%,6163.846500,6771.811000,6770.415750,6070.565500,5830.125000,6032.022500
max,6397.955000,6973.431000,6989.971000,6314.608000,6084.795000,6265.846000